<% layout("/templates/boilerplate2.ejs") %>

<div class="row justify-content-evenly gap-1">
  <h4 class="top-head mb-3">Happy customers &#128578;</h4>
  <% for(let post of posts){ %>
  <div class="card col-md-5 col-10 mb-3 post-card" href="/item/<%= post._id %>">
    <img src="<%= post.image.url.replace("/upload", "/upload/q_40") %>" class="card-img-top mb-3" alt="...">
    <div class="card-body mb-3 post-card-body">
      <p><%= post.message || "Thank you for visiting us" %></p>
      
      <% let time = post.createdAt.toString().split(" ") %>
      <div class="post-time"><%= "".concat(time[1]," ", time[2], " ", time[3]) %></div>

      <% if(currAdmin) {%>
      <div class="category-btns">
        <a href="/admin/post/edit/<%= post._id %>" class="no-style"><button class="btn btn-outline-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i> Edit</button></a> 
        &nbsp; &nbsp;
        <button value="/admin/post/destory/<%= post._id %>?_method=DELETE" class="btn delete-conform btn-outline-danger btn-sm"><i class="fa-solid fa-trash-can"></i> Delete</button>
      </div>
      <% } %>
    </div>
  </div>  
  <% } %>
</div>

<% if(currAdmin) {%>
  <style>
    .delete-form{
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 100%;
      text-align: center;
      background-color: rgb(255, 255, 255, 0.8);
    }

  </style>



  <form class="delete-form" id="hidden-delete" method="post" hidden>
    <div class="category-btns position-absolute top-50 start-50 translate-middle">
      <p>Delete this post?</p>
      <button type="submit" class="btn hidden-delete btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</button>
      &nbsp;&nbsp;
      <button type="button" id="hide-dismiss" class="btn btn-primary">&nbsp; No &nbsp;</button>
    </div>
  </form> 



  <script>

    let delete_btns = document.getElementsByClassName("delete-conform");
    let hidden_delete = document.getElementById("hidden-delete");
    let hide_dissmiss = document.getElementById("hide-dismiss");

    for(delete_btn of delete_btns){
      delete_btn.addEventListener("click", () => {
        let link = delete_btn.value;
        hidden_delete.action=link;
        hidden_delete.hidden = false;
      });
    };
    hide_dissmiss.addEventListener("click", () => {
      hidden_delete.hidden = true;
    });

  </script>
<% } %>

